body{
     height: 100vh;
     overflow: hidden;
     display: grid;
     grid-template-columns: 0.5fr 2fr;
     background: #242424;
     width: 100vw!important;
     overflow-x: hidden;
}
img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.sidebar{
     width: 15rem;
     background-color: #444;
     height: 100vh;
     padding-left: 1rem;
     .sidebar-wrapper{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .sidebar-top{
               padding: 10px 20px;
               display: flex;
               flex-direction: column;
               gap: 10px;
               .profile{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    img{
                         width: 100%;
                         height: 100%;
                         object-fit: cover;
                         border-radius: 50%;
                    }
               }
               .profile-name{
                    .name{
                         font-size: 1.2rem;
                         font-weight: 600;
                         color: #ddd;
                    }
                    .email{
                         font-size: 0.8rem;
                         color: #ccc;
                    }
               }
          }
          .sidebar-links{
               display: flex;
               flex-direction: column;
               gap: 10px;
               a{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    color: #ddd;
                    text-decoration: none;
                    transition: 0.3s;
                    cursor: pointer;
                    position: relative;
                    &:hover{
                         background-color: #555;
                    }
                    i{
                         padding-left: 1rem;
                         font-size: 1.2rem;
                    }
                    span{
                         font-size: 1rem;
                         font-weight: 600;
                    }
               }
               .active::before{
                    content: "";
                    background-color: #0000ff;
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    left: 0;
               }
          }
          .sidebar-footer{
               padding: 10px;
               a{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #ddd;
                    text-decoration: none;
                    span{
                         font-size: 1.2rem;
                         font-weight: 600;
                    }
               }
          }
     }
}
.main{
     width: 100%;
     padding: 1rem 2rem;
     .section{
          display: none;
     }
}
.header{
     padding: 1rem 0;
     #balance{
          font-weight: 700;
          font-size: 2rem;
          color: #fff;
     }
     .buttons{
          display: flex;
          gap: 10px;
          button{
               background-color: #ddd;
               border: none;
               width: 50px;
               height: 50px;
               border-radius: 50%;
               font-size: 1rem;
          }
          button:hover{
               background-color: #0000ff;
               color: #ddd;
          }
     }
}
#transactions{
     .head{
          /* font-weight: 700; */
          font-size: 1.5rem;
          color: #aaa;
          padding: 1rem 0;
     }
     .transact{
          background-color: #444;
          width: 100%;
          border-radius: 10px;
          padding: 0.5rem;
          .heading{
               padding: 0 1rem;
              .text{
                    font-weight: 700;
                    font-size: 1rem;
                    color: #ddd;
              }
               .input-group{
                    background-color: #aaa;
                    border-radius: 10px;
                    input{
                         background-color: transparent;
                         border: none;
                    }
                    input:focus{
                         box-shadow: none;
                         outline: none;
                    }
               .btn{
                         background-color: #aaa;
                         color: #222;
                         border: none;
                    }
                    .btn:hover{
                         background-color: #aaa;
                         color: #222;
                    }
               }
          }
          .datalist{
               .each{
                    padding: 0.5rem 0.3rem;
                    text-align: center;
                    background-color: transparent;
                    font-size: 1rem;
                    margin: 0 auto;
                    width: 100%;
                    color: #ddd;
                    .icon{
                         width: 50px;
                         height: 50px;
                         border-radius: 50%;
                         background-color: #ddd;
                    }
                    .trans-time{
                         font-size: 0.7rem;
                    }
               }
          }
     }
}
#deposit{
     form{
          /* background-color: #0000ff; */
          padding: 2rem 5rem;
          /* padding-top: 5rem; */
          border-radius: 10px;
          .inputs{
               margin-bottom: 3rem;
               label{
                    font-size: 1.2rem;
                    color: #ddd;
                    font-weight: 600;
               }
               input, select{
                    width: 100%;
                    padding: 1rem;
                    border-radius: 10px;
                    border: none;
                    background-color: #ddd;
                    color: black;
                    box-shadow: none;
                    margin-top: 0.5rem;
               }
               select{
                    text-indent: 10px;
               }
               input:focus, select:focus{
                    box-shadow: none;
                    outline: none;
               }
          }
          .btn{
               background-color: #0000ff;
               color: #ddd;
               float: right;
               padding: 1rem 2rem;
               border: none;
               border-radius: 10px;
               font-size: 1.2rem;
               font-weight: 600;
               cursor: pointer;
          }
     }
}
#profile{
     header{
          padding: 1rem 5rem;
          padding-bottom: 0;
          .ison{
               background-color: #0000ff;
               padding: 0 0.15rem;
               border-radius: 10px;
          }
          .head{
               display: flex;
               gap: 10px;
               font-size: 2rem;
               color: #555;
          }
     }
     form{
          padding: 2rem 5rem;
          .left{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               gap: 20px;
               .prfi{
                    width: 350px;
                    height: 365px;
                    position: relative;
                    border-radius: 10px;
                    img{
                         width: 100%;
                         border-radius: 10px;
                         height: 100%;
                         object-fit: cover;
                    }
                    .icon{
                         font-size: 1.5rem;
                         position: absolute;
                         top: 0.5rem;
                         left: 1rem;
                         color: #0000ff;
                         cursor: pointer;
                    }
               }
               label{
                    background-color: transparent;
                    color: #ddd;
                    padding: 0.5rem 2rem;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.2rem;
                    font-weight: 600;
                    border: dashed 1px #0000ff;
                    cursor: pointer;
                    display: flex;
                    gap: 10px;
                    align-items: center;
               }
               input[type="file"] {
                    display: none; /* Hide file input field */
               }
          }
          .right{
               display: flex;
               flex-direction: column;
               gap: 20px;
               .inputs{
                    label{
                         font-size: 1.2rem;
                         color: #ddd;
                         font-weight: 600;
                    }
                    input{
                         width: 100%;
                         border-radius: 10px;
                         height: 40px;
                         border: none;
                         background-color: #ddd;
                         color: black;
                         box-shadow: none;
                    }
                    input:focus{
                         box-shadow: none;
                         outline: none;
                    }
               }
               .buttons{
                    display: flex;
                    gap: 10px;
                    .btn{
                         background-color: #0000ff;
                         color: #ddd;
                         float: right;
                         width: 50%;
                         border: none;
                         border-radius: 10px;
                         font-size: 1.2rem;
                         font-weight: 600;
                         cursor: pointer;
                    }
                    #save{
                         background-color: #0000ff;
                         color: #ddd;
                    }
                    #cancel{
                         background-color: transparent;
                         color: #ddd;
                         border: 1px solid #0000ff;
                    }
               }
          }
     }
}
#orders{
     .head{
          /* font-weight: 700; */
          font-size: 1.5rem;
          color: #aaa;
          padding: 1rem 0;
     }
     .transact{
          background-color: #444;
          width: 100%;
          border-radius: 10px;
          padding: 0.5rem;
          .heading{
               padding: 0 1rem;
              .text{
                    font-weight: 700;
                    font-size: 1rem;
                    color: #ddd;
              }
               .input-group{
                    background-color: #aaa;
                    border-radius: 10px;
                    input{
                         background-color: transparent;
                         border: none;
                    }
                    input:focus{
                         box-shadow: none;
                         outline: none;
                    }
               .btn{
                         background-color: #aaa;
                         color: #222;
                         border: none;
                    }
                    .btn:hover{
                         background-color: #aaa;
                         color: #222;
                    }
               }
          }
          .datalists{
               .each{
                    padding: 0.5rem 1rem;
                    padding-left: 0.3rem;
                    text-align: center;
                    background-color: transparent;
                    font-size: 1rem;
                    margin: 0 auto;
                    width: 100%;
                    color: #ddd;
                    .icon{
                         width: 50px;
                         height: 50px;
                         border-radius: 50%;
                         background-color: #ddd;
                    }
                    .trans-time{
                         font-size: 0.7rem;
                    }
               }
          }
     }
}
#alerting{
     position: fixed;
     right: 0;
     z-index: 1000000000;
     top: 10%;
     .alert{        
          width: 300px;
          height: 50px;
          animation-name: rollin;
          animation-duration: 0.5s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
     }
     svg{
          width: 20px;
     }
     div{
          font-size: 12px;
     }
     .alert-primary{
          background-color: #2A6DA8;
     }
     .alert-danger{
          background-color: #ff0000;
     }
     .alert-success{
          background-color: #019f01;
     }
     .alert-warning{
          background-color: #ffcc00;
     }
}
.bottom-links{
     display: none;
}
.profiish{
     display: none;
}
@media (max-width: 800px){
     .each{
          width: 100%;
          .icon{
               width: 30px!important;
               height: 30px!important;
          }
     }
     #transactions {
          & .transact {
          & .heading {
               .input-group {
                    background-color: #aaa;
                    border-radius: 10px;
                    width: 70%;
                    float: right;
               }
          }
          }
     }
     #orders {
          & .transact {
          & .heading {
               .input-group {
                    background-color: #aaa;
                    border-radius: 10px;
                    width: 70%;
                    float: right;
               }
          }
          }
     }
     #deposit {
          form {
               margin-top: 2rem;
              padding: 0!important;
          }
     }
}
@media (max-width: 450px){
     body{
          grid-template-columns: 1fr;
          height: max-content;
          overflow-y: scroll;
     }
     .sidebar{
          display: none;
     }
     .main{
          width: 100%;
          padding: 2rem 1.5rem;
          padding-bottom: 5rem;

     }
     #deposit {
          form {
               margin-top: 2rem;
              padding: 0 1.5rem!important;
              width: 100%;
              .prfi{
               height: 100%!important;
              }
          }
     }
     #profile {
          header{
               padding: 0;
          }
          form {
              padding: 1rem;
          }
      }
      .bottom-links{
          padding: 1rem 2rem;
          background-color: #555;
          position: fixed;
          left: 0;
          bottom: -1px;
          display: flex;
          justify-content: space-between;
          width: 100vw;
          i{
               color: #ddd;
          }
          .sidebar-link{
               position: relative;
          }
          .active::before{
               content: "";
            background-color: #0000ff;
            position: absolute;
            z-index: -1;
            width: 50px;
            height: 50px;
            top: -60%;
            left: -80%;
            border-radius: 50%;
          }
      }
      .header{
          padding: 1rem 0.5rem;
          #balance{
               font-weight: 700;
               font-size: 2rem;
               color: #fff;
          }
          .buttons{
               display: flex;
               gap: 10px;
               button{
                    background-color: #ddd;
                    border: none;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    font-size: 1rem;
               }
               button:hover{
                    background-color: #0000ff;
                    color: #ddd;
               }
          }
     }
     .profiish{
          padding: 0 10px;
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          .divpro{
               display: flex;
               gap: 10px;
               justify-content: end;
               align-items: center;
               flex-direction: row;
               .profile{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    img{
                         width: 100%;
                         height: 100%;
                         object-fit: cover;
                         border-radius: 50%;
                    }
               }
               .profile-name{
                    .name{
                         font-size: 1.2rem;
                         font-weight: 600;
                         color: #ddd;
                    }
                    .email{
                         font-size: 0.8rem;
                         color: #ccc;
                    }
               } 
          }
          .logouts{
               i{
                    font-size: 1.5rem;
                    color: #ddd;
               }
          }
     }
     .col-md-4{
          width: 30%;
     }
     .col-md-3{
          width: 20%;
     }
     .icon{
          display: none;
     }
     .col-md-5{
          width: 40%;
     }
     .trans-date{
          font-size: 0.8rem;
     }
}