body{
     height: 100vh;
     display: grid;
     grid-template-columns: 0.5fr 2fr;
     background-color: #0b0a12;
     /* background: #151520; */
     width: 100vw!important;
     overflow-x: hidden;
}
img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
#alerting{
     position: fixed;
     right: 0;
     z-index: 1000000000;
     top: 10%;
     .alert{        
          width: 300px;
          height: 50px;
          animation-name: rollin;
          animation-duration: 0.5s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
     }
     svg{
          width: 20px;
     }
     div{
          font-size: 12px;
     }
     .alert-primary{
          background-color: #2A6DA8;
     }
     .alert-danger{
          background-color: #ff0000;
     }
     .alert-success{
          background-color: #019f01;
     }
     .alert-warning{
          background-color: #ffcc00;
     }
}
.sidebar{
     width: 15rem;
     background-color: #0b0a12;
     /* background: #151520; */
     border-right: 1px solid rgba(255, 255, 255, 0.147);
     height: 100vh;
     padding-left: 1rem;
     overflow-y: auto;
     .sidebar-wrapper{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .sidebar-top{
               padding: 10px 20px;
               padding-top: 1.5rem;
               display: flex;
               gap: 10px;
               .profile{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    img{
                         width: 100%;
                         height: 100%;
                         object-fit: cover;
                         border-radius: 50%;
                    }
               }
               .profile-name{
                    .name{
                         font-size: 1.2rem;
                         font-weight: 600;
                         color: #ddd;
                    }
                    .email{
                         font-size: 0.8rem;
                         color: #ccc;
                    }
               }
          }
          .sidebar-links{
               display: flex;
               flex-direction: column;
               gap: 10px;
               a{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    color: #999;
                    text-decoration: none;
                    transition: 0.3s;
                    cursor: pointer;
                    position: relative;
                    &:hover{
                         /* background-color: #555; */
                         background-color: #151520;
                    }
                    i{
                         padding-left: 1rem;
                         font-size: 1.2rem;
                    }
                    span{
                         font-size: 1rem;
                         /* font-weight: 600; */
                    }
               }
               .active::before{
                    content: "";
                    background-color: #0000ff;
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    left: 0;
               }
          }
          .sidebar-footer{
               padding: 10px;
               a{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #aaa;
                    text-decoration: none;
                    span{
                         font-size: 1.2rem;
                         /* font-weight: 600; */
                    }
               }
          }
     }
}
.main{
     width: 100%;
     padding: 1rem 2rem;
     overflow-y: auto;
}
::-webkit-scrollbar{
     display: none;
}
.header{
     #balance{
          font-weight: 700;
          font-size: 2rem;
          color: #fff;
     }
     #balance-text{
          font-size: 1rem;
          color: #aaa;
     }
}
.buttons{
     display: flex;
     gap: 10px;
     button{
          background-color: #ddd;
          border: none;
          width: 40px!important;
          height: 40px;
          border-radius: 50%;
          font-size: 1rem;
     }
     button:hover{
          background-color: #0000ff;
          color: #ddd;
     }
}
#deposit{
     form{
          padding-top: 7rem;
          border-radius: 10px;
          width: 70%;
          .inputs{
               margin-bottom: 2rem;
               label{
                    font-size: 1.2rem;
                    color: #ddd;
                    font-weight: 600;
               }
               input, select{
                    width: 100%;
                    padding: 1rem;
                    border-radius: 10px;
                    border: none;
                    margin-top: 0rem;
                    background-color: #151520;
                    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.237);
                    color: #ddd;
               }
               select{
                    text-indent: 10px;
               }
               input:focus, select:focus{
                    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.237);
                    outline: none;
               }
          }
          .btn{
               background-color: #0000ff;
               color: #ddd;
               float: right;
               padding: 1rem 2rem;
               border: none;
               border-radius: 10px;
               font-size: 1.2rem;
               font-weight: 600;
               cursor: pointer;
          }
     }
}
#profile{
     header{
          padding: 1rem 5rem;
          padding-bottom: 1rem;
          .ison{
               background-color: #0000ff;
               padding: 0 0.15rem;
               border-radius: 10px;
          }
          .head{
               display: flex;
               gap: 10px;
               font-size: 2rem;
               color: #555;
          }
     }
     form{
          padding: 2rem 0;
          padding-bottom: 0;
          .left{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               gap: 20px;
               .prfi{
                    width: 350px;
                    height: 365px;
                    position: relative;
                    border-radius: 10px;
                    img{
                         width: 100%;
                         border-radius: 10px;
                         height: 100%;
                         object-fit: cover;
                    }
                    .icon{
                         font-size: 1.5rem;
                         position: absolute;
                         top: 0.5rem;
                         left: 1rem;
                         color: #0000ff;
                         cursor: pointer;
                    }
               }
               label{
                    background-color: transparent;
                    color: #ddd;
                    padding: 0.5rem 2rem;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.2rem;
                    font-weight: 600;
                    border: dashed 1px #0000ff;
                    cursor: pointer;
                    display: flex;
                    gap: 10px;
                    align-items: center;
               }
               input[type="file"] {
                    display: none; /* Hide file input field */
               }
          }
          .right{
               display: flex;
               flex-direction: column;
               gap: 10px;
               width: 40%;
               .inputs{
                    label{
                         font-size: 1.2rem;
                         color: #ddd;
                         font-weight: 600;
                    }
                    input{
                         width: 100%;
                         border-radius: 10px;
                         height: 40px;
                         border: none;
                         /* background-color: #ddd; */
                         background-color: #151520;
                         color: #999;
                         box-shadow: none;
                    }
                    input:focus{
                         box-shadow: none;
                         outline: none;
                    }
               }
               .buttons{
                    display: flex;
                    gap: 10px;
                    margin-top: 40px;
                    .btn{
                         background-color: #0000ff;
                         color: #ddd;
                         float: right;
                         width: 50%!important;
                         border: none;
                         border-radius: 10px;
                         font-size: 1.2rem;
                         font-weight: 600;
                         cursor: pointer;
                    }
                    #save{
                         background-color: #0000ff;
                         color: #ddd;
                    }
                    #cancel{
                         background-color: transparent;
                         color: #ddd;
                         border: 1px solid #0000ff;
                    }
               }
          }
     }
}
.bottom-links{
     display: none;
}
#dashboard{
     overflow-x: hidden;
     .createOrde{
          overflow-x: scroll;
     }
     .cards{
          display: flex;
          width: max-content;
          gap: 20px;
          .card{
               width: 11rem;
               height: 10rem;
          }
          .icon{
               top: 2%;
               right: 2%;
               i{
                    font-size: 5rem;
                    color: #ffffff8e;
               }
          }
          .text{
               font-size: 1.5rem;
               color: #fff;
               font-weight: 600;
               z-index: 10;
               letter-spacing: 1px;
               margin-top: 5rem;
          }
     }
     .youtube{
          background-color: #ff0000;
     }
     .instagram{
          background-color: #c32aa3;
     }
     .facebook{
          background-color: #1877f2;
     }
     .twitter{
          background-color: #1da1f2;
     }
     .linkedin{
          background-color: #0a66c2;
     }
     .tiktok{
          background-color: #ee1d52;
     }
     a{
          text-decoration: none;
          color: #999;
     }
     .addmoney {
          padding: 0px 10px;
          border-radius: 20px;
          background-color: #0000ff5a;
          color: white;
          border: none;
          font-size: 700;
          font-size: 1rem;
          cursor: pointer;
          transition: all 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }
        .addmoney:hover {
          background-color: whitesmoke;
          color: #0000ff5a;
        }
        .plussign {
          font-size: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .mainTop{
          margin-bottom: 1rem;
          .message{
               font-size: 1.5rem;
               color: #ddd;
               font-weight: 600;
          }
        }
}
.head{
     font-size: 1.5rem;
     color: #aaa;
     padding: 1rem 0;
}
.content{
     .text{
          font-size: 1rem;
          color: #aaa;
     }
}
.transact{
     background-color: #151520;
     box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.237);
     width: 100%;
     border-radius: 10px;
     padding: 0.5rem;
     .heading{
          padding: 0 1rem;
         .text{
               font-weight: 700;
               font-size: 1rem;
               color: #ddd;
         }
          .input-group{
               background-color: #0000ff14;
               border-radius: 10px;
               input{
                    background-color: transparent;
                    border: none;
               }
               input:focus{
                    box-shadow: none;
                    color: #ddd;
                    outline: none;
               }
          .btn{
                    background-color: #aaa;
                    color: #222;
                    border: none;
               }
               .btn:hover{
                    background-color: #aaa;
                    color: #222;
               }
          }
     }
     .datalist, .datalists{
          .each{
               padding: 0.5rem 0.3rem;
               text-align: center;
               background-color: transparent;
               font-size: 1rem;
               margin: 0 auto;
               width: 100%;
               color: #ddd;
               .icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #ddd;
               }
               .trans-time{
                    font-size: 0.7rem;
               }
          }
     }
}
.card{
     background-color: #151520;
     box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.237);
     color: #ddd;
     .card-body{
          padding: 1rem;
          .icon{
               font-size: 3rem;
               color: #0000ff;
               right: 0;
               top: -50%;
          }
          .text{
               font-size: 1.5rem;
          }
     }
}
input::placeholder{
     color: #ddd;
}
.profiish, .lOGO, .profilee{
     display: none;
}
.heading{
     .text{
          font-weight: 700;
          font-size: 1rem;
          color: #ddd;
     }
}
#order{
     form{
          width: 70%;
          .input-group{
               display: flex;
               flex-direction: column;
               padding: 0.5rem 0;
          }
          .search{
               width: 50%;
               margin-left: auto;
               display: flex;
               flex-direction: row;
               background-color: #151520;
               box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.237);
               border-radius: 10px;
               input{
                    background-color: transparent;
                    border: none;
               }
               input:focus{
                    box-shadow: none;
                    color: #ddd;
                    outline: none;
               }
               .btn{
                    background-color: #aaa;
                    color: #222;
                    border: none;
               }
               .btn:hover{
                    background-color: #aaa;
                    color: #222;
               }
          }
          label{
               font-size: 1.2rem;
               color: #ddd;
               font-weight: 600;
               margin-bottom: 0.3rem;
          }
          input, select, textarea{
               width: 100%;
               border-radius: 10px;
               border: none;
               margin-top: 0rem;
               background-color: #151520;
               box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.237);
               color: #ddd;
          }
          select{
               text-indent: 10px;
          }
          input:focus, select:focus{
               box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.237);
               outline: none;
          }
          #ordeer{
               font-weight: bold;
               color: white;
               cursor: pointer;
               border: none;
               background-color: #0000ff;
               margin-top: 30px;
               margin-left: auto;       
               padding: 1rem 1.5rem;
               border-radius: 30px;
          }
          .text{
               color: #999;
          }
     }
}
@media (min-width: 300px) and (max-width: 800px){
     body{
          grid-template-columns: 1fr;
          height: max-content;
          overflow-y: scroll;
     }
     .sidebar{
          display: none;
     }
     .main{
          width: 100%;
          padding: 2rem 1.5rem;
          padding-bottom: 5rem;

     }
     #deposit {
          form {
               margin-top: 2rem;
              padding: 0 1.5rem!important;
              width: 100%;
              .prfi{
               height: 100%!important;
              }
          }
     }
      .bottom-links{
          padding: 1rem 2rem;
          background-color: #000000;
          position: fixed;
          left: 0;
          bottom: -1px;
          display: flex;
          justify-content: space-between;
          width: 100vw;
          i{
               color: #ddd;
          }
          .active{
               i{
                   color: #0000ff;
                   transform: translateY(-2px);
                   font-size: 1.5rem;
               }
          }
      }
      .header{
          padding: 1rem 0.5rem;
          #balance{
               font-weight: 700;
               font-size: 2rem;
               color: #fff;
          }
          .buttons{
               display: flex;
               gap: 10px;
               margin-top: 0.5rem;
               button{
                    background-color: #ddd;
                    border: none;
                    width: 30px!important;
                    height: 30px;
                    border-radius: 50%;
                    font-size: 1rem;
               }
               button:hover{
                    background-color: #0000ff;
                    color: #ddd;
               }
          }
     }
     .profiish{
          padding: 0 10px;
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          .divpro{
               display: flex;
               gap: 10px;
               justify-content: end;
               align-items: center;
               flex-direction: row;
               .profile{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    img{
                         width: 100%;
                         height: 100%;
                         object-fit: cover;
                         border-radius: 50%;
                    }
               }
               .profile-name{
                    .name{
                         font-size: 1.2rem;
                         font-weight: 600;
                         color: #ddd;
                    }
                    .email{
                         font-size: 0.8rem;
                         color: #ccc;
                    }
               } 
          }
          .logouts{
               i{
                    font-size: 1.5rem;
                    color: #ddd;
               }
          }
     }
     #dashboard{
          .header{
               .buttons{
                    display: none!important;
               }
          }
          .profiish{
               .profiish{
                    flex-direction: row!important;
               }
          }
          .cards {
               .card {
                    width: 10rem!important;
                    height: 8rem;
                    .icon{
                         i{
                              font-size: 4rem;
                         }
                    }
                    .text {
                         font-size: 1.5rem;
                         color: #fff;
                         font-weight: 600;
                         z-index: 10;
                         letter-spacing: 1px;
                         margin-top: 4rem;
                    }
               }
          }
          .profilee{
               width: 50px;
               height: 50px;
               border-radius: 50%;
               display: block;
               img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
               }
          }
     }
     .lOGO{
          opacity: .05;
          top: -22%;
          left: -26%;
          width: 150vw;
          height: 50vh;
          z-index: -1;
     }
     .col-md-4{
          width: 30%;
     }
     .col-md-3{
          width: 20%;
     }
     .col-md-5{
          width: 40%;
     }
     .trans-date{
          font-size: 0.8rem;
     }
     #balance-text{
          font-size: 0.8rem!important;
     }
     .buttons{
          display: grid!important;
          grid-template-columns: 1fr 1fr;
     }
     .datalist, .datalists{
          .icon{
               display: none;
          }
     }
     #order{
          form{
               width: 100%;
          }
     }
     #profile {
          header{
               padding: 0;
          }
          form {
              padding: 1rem;
              .right{
                    width: 100%;
                    #save, #cancel{
                         width: 100%!important;
                    }
              }
          }
      }
      .each, .trans-type, .trans-amount, .trans-date, .trans-time{
          font-size: 1rem!important;
      }
      .dates{
          flex-direction: column;
          gap: 0px !important;
      }
}