h1{
     color: #fff;
     text-align: center;
}
section{
     margin: 50px 0!important;
}
.accordion{
     --bs-accordion-border-color: #ffffff00;
     --bs-accordion-bg: #ffffff00;
     --bs-accordion-border-width: 0px;
     --bs-accordion-border-radius: 25px!important;
}
.accordion-button {
     color: var(--secondary-color);
     background: linear-gradient(145deg,#000086, #121262, #010152, #1b1b74);
      border: 5px solid #0a66c263;
}
.accordion-button:not(.collapsed) {
     color: var(--secondary-color);
     background-color: var(--primary-color);
}
.accordion-button::after {
     filter: invert(1);
}
.accordion-body {
     background: var(--black);
     color: var(--secondary-color);
}
.faq-img {
     display: block;
     margin: 10px auto;
     max-width: 100%;
     border: 2px solid var(--primary-color);
     border-radius: 8px;
}
section{
     padding: 0rem 0vw !important;
}
section::after{
     z-index: -3;
     opacity: 0.3;
}