h1{
     color: var(--primary-color);
     font-size: 3rem;
     text-align: center;
     margin-bottom: 20px;
}
section{
     margin-bottom: 50px;
}
.accordion-button {
     background: var(--dark-color);
     color: var(--secondary-color);
}
.accordion-button:not(.collapsed) {
     color: var(--secondary-color);
     background-color: var(--primary-color);
}
.accordion-button::after {
     filter: invert(1);
}
.accordion-body {
     background: var(--black);
     color: var(--secondary-color);
}
.faq-img {
     display: block;
     margin: 10px auto;
     max-width: 100%;
     border: 2px solid var(--primary-color);
     border-radius: 8px;
}