@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
:root{
     --primary-color: #0000ff;
     --secondary-color: #f0f0ff;
     --dark-color: #333;
     --black: #000;
}
body{
     background: var(--black);
     width: 100vw!important;
     overflow-x: hidden;
     color: var(--secondary-color);
}
a{
     text-decoration: none;
     color: var(--primary-color);
}
nav{
     background-color: transparent;
     .container-fluid{
          padding: 1vw 5vw;
     }
     .navbar-brand{
          width: 70px;
          img{
               width: 100%;
               height: 100%;
               object-fit: cover;
          }
     }
     .nav-link{
          color: var(--secondary-color);
     }
     .nav-link:hover{
          color: var(--primary-color);
     }
     .active{
          color: var(--primary-color)!important;
     }
     .btn{
          border-radius: 25px;
     }
     .login, .login:hover{
          border: none;
          color: #eee;
     }
     .sign, .sign:hover{
          background-color: var(--primary-color);
          color: var(--secondary-color);
     }
     .btn:hover{
          transform: scale(0.9);
     }
     .navbar-toggler{
          border: none;
          color: var(--primary-color)!important;
     }
}
#hero{
     height: 100vh!important;
     background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.4)),url(images/4-min.jpg);
     background-size: cover;
     background-position: top;
     .container{
          .text{
               width: 80%;
               height: 90vh;
               display: flex;
               justify-content: center;
               flex-direction: column;
               gap: 30px;
               h1{
                    font-size: 4.5rem;
                    margin: 10px 0;
                    font-weight: 600;
                    line-height: 1;
                    color: #ccc;
               }
               p{
                    font-size: 1rem;
                    width: 70%;
                    color: #777;
                    span{
                         font-weight: 800;
                    }
               }   
          }
          .swipe {
               position: relative;
               background-color: var(--secondary-color);
               width: 200px;
               height: 60px;
               color: var(--black);
               border-radius: 25px;
               display: flex;
               justify-content: center;
               align-items: center;
               text-decoration: none;
               letter-spacing: 2px;
               border-top: 0.5px solid rgba(0, 0, 0, 0.35);
               border-left: 0.5px solid rgba(0, 0, 0, 0.35);
               padding-left: 40px;
               cursor: pointer;
               transition: 0.35s ease;
             }
             
             .swipe:hover {
               padding-left: 0;
               padding-right: 40px;
               color: var(--black);
             }
             
             .containerr {
               position: absolute;
               left: 5px;
               width: 50px;
               height: 50px;
               background: var(--primary-color);
               border-radius: 50%;
               transition: 0.35s ease;
               display: flex;
               justify-content: center;
               align-items: center;
               color: var(--secondary-color);
             }
             
             .swipe:hover .containerr {
               left: calc(100% - 55px);
               color: var(--secondary-color);
             }
     }
}
#services{
     padding: 10vw 0;
     .img{
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 25px!important;
          img{
               width: 100%;
               border-radius: 25px!important;
               height: 100%;
               object-fit: cover;
          }
     }
     .textss{
          display: flex;
          flex-direction: column;
          justify-content: center;
          h1{
               font-size: 3rem;
               font-weight: 600;
               margin: -10px 0;
          }
          h6{
               font-size: 2.5rem;
               margin-left: 15px;
               margin-top: 60px;
               font-weight: 200;
          }
          .service{
               display: grid;
               grid-template-columns: repeat(3, 1fr);
               row-gap: 10px;
               .item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .icon{
                         font-size: 3.5rem;
                         color: var(--secondary-color);
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         width: 100%;
                         height: 150px;
                         .fa, .fab{
                              border-radius: 25px!important;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              height: 100%;
                              width: 150px;
                         }
                         .fa-youtube{
                              background-color: #ff0000;
                         }
                         .fa-instagram{
                              background-color: #c32aa3;
                         }
                         .fa-facebook{
                              background-color: #1877f2;
                         }
                         .fa-twitter{
                              background-color: #1da1f2;
                         }
                         .fa-linkedin{
                              background-color: #0a66c2;
                         }
                         .fa-tiktok{
                              background-color: #ee1d52;
                         }
                    }
                    .icon:hover{
                         animation: echo 5s infinite;
                    }
                    .text{
                         margin: 10px 0;
                         font-size: 1rem;
                         color: #ccc;                    
                    }
               }
          }
     }
}
#product-features{
     padding: 10vw 0;
     h1{
          color: #ccc;
          font-size: 3rem;
          text-align: center;
          margin-bottom: 50px;
     }
     .feature-box{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          .feature-image{
               width: 100%;
               height: 200px;
          }
          .feature-title{
               color: var(--primary-color);
               font-size: 1.5rem;
          }
          .feature-discription{
               font-size: 1rem;
               color: #ccc;
          }
     }
}
#how-it-works{
     padding: 10vw 0;
     h1{
          color: #ccc;
          font-size: 3rem;
          text-align: center;
          margin-bottom: 50px;
     }
     .col-md-6{
          margin-bottom: 30px;
          h3{
               color: #0000ffee;
               font-size: 2rem;
               margin-bottom: 20px;
          }
          p{
               font-size: 1rem;
               color: #ccc;
          }
     }
}
@keyframes echo{
     0%{
          transform: scale(1);
     }
     50%{
          transform: scale(0.9);
     }
     100%{
          transform: scale(1.05);
     }
}
#social {
     padding: 10vw 0;
     background-color: var(--black);
     display: flex;
     justify-content: center;
     align-items: center;
     .container {
          border-radius: 25px;
          padding: 2rem;
          box-shadow: 0px 0px 10px var(--black);
          background-color: #242424;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: var(--secondary-color);
          text-align: center;
     }
     .text-content {
          margin-bottom: 1.5rem;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
     }
     .title {
          font-size: 2.5rem;
          font-weight: 800;
          margin-bottom: 1rem;
     }
     .support-description {
          font-size: 1.25rem;
          margin-bottom: 1rem;
          width: 50%;
     }
     .btn-container {
          margin-bottom: 1.5rem;
     } 
     .btn {
          font-size: 1.5rem;
          border-radius: 25px;
          font-weight: 900;
          background-color: #fff!important;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-decoration: none;
          color: #25d366; /* WhatsApp green color */
          padding: 0.75rem 1.5rem;
          transition: transform 0.3s, background-color 0.3s;
     i {
          font-size: 2rem;
     } 
     }
     .btn:hover {
          transform: scale(1.1);
          background-color: #1ebc57; /* Darker green for hover effect */
     }
     .contact-info {
          font-size: 1rem;
          line-height: 1.5;
     }
     .contact-info p {
          margin: 0.5rem 0;
     }
     .contact-info i {
          margin-right: 0.5rem;
     }
}
#why{
     padding: 10vw 0;
     h1{
          color: #ccc;
          font-size: 3rem;
          text-align: center;
          margin-bottom: 50px;
     }
     .reasons{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 50px;
          margin: 0 auto;
          .reason{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               text-align: center;
               .imag{
                    font-size: 3rem;
               }
               .topic{
                    color: var(--primary-color);
                    font-size: 1.5rem;
               }
               .text{
                    font-size: 1rem;
               }
          }
     }
}
.bg-dark{
     background-color: var(--dark-color)!important;
}
#faqs{
     padding: 10vw 0;
     .text{
          text-align: left!important;
          color: #ccc;
          h1{                    
               text-align: left!important;
               color: #ccc;
               font-size: 3rem;
               text-align: center;
               margin-bottom: 30px;
          }
          p{
               font-size: 1rem;
               width: 80%;
          }
     }     
     .accordion-item{
          border: none!important;
          margin: 5px 0;
     }
     .accordion-button {
          background: var(--dark-color);
          border: none!important;
          color: var(--secondary-color);
     }
     .accordion-button:not(.collapsed) {
          color: var(--secondary-color);
          background-color: var(--primary-color);
     }
     .accordion-button::after {
          filter: invert(1);
     }
     .accordion-body {
          border: none!important;
          background: var(--black);
          color: var(--secondary-color);
     }
     .btn-outline-light{
          border-radius: 25px;
          float: right;
          color: var(--primary-color);
          border: none;
     }
}
#testimonials{
     padding: 10vw 0;
     h1{
          color: #ccc;
          font-size: 3rem;
          text-align: center;
          margin-bottom: 100px;
     }
     .testimonial-card {
          background-color: var(--dark-color);
          padding: 20px;
          border-radius: 25px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     }
     .testimonial-card .quote {
          font-size: 18px;
          font-style: italic;
          margin-bottom: 15px;
     }      
     .testimonial-card .author {
          font-weight: bold;
          margin-bottom: 5px;
          color: var(--primary-color);
     }
     .testimonial-card .position {
          font-size: 14px;
     }  
}
footer{
     padding: 5vw 0;
     padding-bottom: 0;
     background-color: #111;
     a{
          color: #cccccc;
     }
     #footer{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 50px;
          padding-bottom: 5vw;
          .one{
               .navbar-brand{
                    font-size: 1.5rem;
               }
               .links{
                    i{
                         font-size: 1.5rem;
                    }
               }
          }
          .two, .three{
               display: flex;
               justify-content: center;
               gap: 20px;
               flex-direction: column;
               .head{
                    color: #666;
                    font-weight: 500;
               }
               .linkss{
                    a{
                         color: #cccccc;
                         font-size: 1rem;
                         word-spacing: -1px;
                         margin-bottom: 5px;
                    }
               }
          }
     }
     .subscribe-forms{
          h1{
               font-size: 0.7rem;
               color: var(--secondary-color);
               margin-bottom: 20px;
          }
          .subscribe-form {
               display: flex;
               flex-direction: column;
               gap: 10px;
               width: 300px;
               height: 35px;
               .subscribe-input {
                    width: 100%;
                    height: 100%;
                    padding: 5px 5px;
                    border-right: 0;
                    font-size: 15px;
                    border-top: 0;
                    border-left: 0;
                    font-weight: 500;
                    color: var(--secondary-color);
                    background: transparent;
               }        
               .subscribe-btn {
                    width: max-content;
                    height: max-content;
                    background-color: var(--primary-color);
                    font-size: 0.7rem;
                    border: none;
                    padding: 7px 40px;
                    border-radius: 25px;
                    font-weight: 500;
                    color: var(--secondary-color);
                    cursor: pointer;
               }
               .subscribe-input:focus {
                    outline: none;
               }
          }
     }
     .last{
          margin-top: 20px;
          padding: 20px 5vw;
          border-top: 1px solid #333;
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          gap: 20px;
          font-size: 0.7rem;
          text-align: center;
     }
}
@media (max-width: 800px){
     .navbar-collapse {
          position: absolute;
          top: 10vh;
     }
     .container{
          max-width: 100vw!important;
     }
     #hero{
          position: relative;
               .text{
               width: 100vw;
               height: 80vh;
               padding: 0 10px;
               h1{
                    font-size: 2rem!important;
               }
               p{
                    font-size: 1rem!important;
               }
          }
          .img{
               position: absolute;
               z-index: -1;
          }
          form{
               width: 100%!important;
          }
     }
    #services{
          .img{
               display: none!important;
          }
          .textss{
               h1{
                    margin-left: 20px;
                    font-size: 2rem;
               }
               h6{
                    margin-left: 20px;
                    font-size: 1.5rem;
               }
               .service{
                    .item{
                         .icon{
                              font-size: 2.5rem;
                         }
                         .text{
                              font-size: 1.2rem;
                         }
                    }
               }
          }
     }
     #social{
          width: 100vw;
          .container{
               .text-content{
                    width: 100%;
               }
               .support-description {
                    width: 80%;
               }
               .contact-info{
                    width: 100%;
               }
          }
     }
     #why{
          .reasons{
               grid-template-columns: 1fr;
               .reason{
                    margin: 0 auto;
                    .imag{
                         font-size: 2rem;
                    }
                    .topic{
                         font-size: 1.5rem;
                    }
                    .text{
                         font-size: 1rem;
                    }
               }
          }
     }
     #faqs{
          .btn-outline-light{
               padding: 10px 20px;
               font-size: 1rem;
          }
     }
     #testimonials{
          .testimonial-card{
               padding: 10px;
          }
          .testimonial-card .quote{
               font-size: 1rem;
          }
          .testimonial-card .author{
               font-size: 1rem;
          }
          .testimonial-card .position{
               font-size: 0.8rem;
          }
          .row{      
               flex-wrap: wrap;
               justify-content: center;
          }
     }
     footer{
          #footer{
               grid-template-columns: repeat(2, 1fr);
               .one{
                    .navbar-brand{
                         font-size: 1.5rem;
                         img{
                              width: 40px;
                              height: 40px;
                         }
                    }
                    .story{
                         font-size: 0.5rem;
                    }
               }
               .two{
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    font-size: 1rem;
               }
               .three, .four{
                    h1{
                         font-size: 0.7rem;
                    }
                    .links{
                         a{
                              font-size: 0.5rem;
                         }
                    }
               }
          }
          .subscribe-forms{
               h1{
                    font-size: 1rem;
               }
          }
     }
}
@media (max-width: 450px){
     #hero{
          height: max-content!important;
          .text {
               height: 75vh!important;
               h1{
                    font-size: 1.5rem!important;
               }
               p{
                    font-size: 0.8rem!important;
                    width: 90%;
               }
          }
     }
     .service{
          grid-template-columns: repeat(2, 1fr)!important;
          row-gap: 0!important;
          .item{
               height: 80%!important;
          }
          .fa, .fab {
               /* height: 60%!important; */
               width: 80%!important;
          }
          .text{
               margin: 0!important;
          }
     }
     #why{
          width: 90vw;
     }
     .col-6{
          width: 100%;
     }
     #faqs{
          .text{
               h1{
                    text-align: center!important;
               }
               p{
                    width: 100%!important;
               }
               .btn-outline-light{
                    margin-top: 20px;
                    margin-bottom: 20px;
               }
          }
     }
     footer{
          #footer{
               grid-template-columns: 1fr!important;
               .one{
                    .navbar-brand{
                         font-size: 1.5rem;
                         img{
                              width: 40px;
                              height: 40px;
                         }
                    }
                    .story{
                         font-size: 0.5rem;
                    }
               }
               .two{
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    font-size: 1rem;
               }
               .three, .four{
                    h1{
                         font-size: 0.7rem;
                    }
                    .links{
                         a{
                              font-size: 0.5rem;
                         }
                    }
               }
          }
          .subscribe-forms{
               h1{
                    font-size: 1rem;
               }
          }
          .last{
               margin-top: 50px;
               font-size: 0.5rem;
               width: 100vw;
               grid-template-columns: repeat(4,1fr);
          }
     }
}
@media (max-width: 350px){
     #hero{
          .text{
               width: 100%!important;
               p{
                    width: 100%!important;
                    font-size: 0.7rem;
               }
          }
     }
     .img{
          display: none!important;
     }
     #social {
          .title {
               font-size: 2rem;
          }
          .support-description {
              font-size: 1rem;
              width: 100%!important;
          }
     }
     section h1{
          font-size: 2rem!important;
     }
     #footer{
          grid-template-columns: 1fr!important;
          .one{
               .navbar-brand{
                    font-size: 1rem;
                    img{
                         width: 30px;
                         height: 30px;
                    }
               }
               .story{
                    font-size: 0.5rem;
               }
          }
          .two{
               font-size: 0.8rem;
          }
          .three, .four{
               h1{
                    font-size: 0.5rem;
               }
               .links{
                    a{
                         font-size: 0.3rem;
                    }
               }
          }
     }
}